html.noscroll, body.noscroll {height: 100%;overflow: hidden!important;position: relative;}
body,dd,dl,form,h1,h2,h3,p{margin:0}
body,html{height:100%}
body{font-family:HelveticaRegular,Helvetica,Verdana,Arial,"Microsoft YaHei";color:#333;font-size:12px;height:auto;    background-color: #ECF0F1;}
a,a:active,a:focus,img{border:none;outline:0}
ol,ul{list-style:none;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
nav ul{list-style:none;}
body ,li{list-style: none;}
b,em,i,strong{font-size:100%;font-style:normal}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
table{border-collapse:collapse;border-spacing:0}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0}
.clearfix{zoom:1}
a{text-decoration:none;color:#333}
.mip-header{width:100%;height: 60px;background: #303641;border-bottom:1px solid #ebebeb;}
.mip-header-main{width:1200px;height: 60px;margin:0 auto;position:relative;}
.logo{float:left;margin:0;font-size:27px;height:40px;overflow:hidden;display:block;text-indent:-20000em;width:165px;height:45px;background-size:100% 100%;margin-top: 6px;}
.logo a{display:block;color:#444}
.logo img{display:block;margin-bottom:100px;height:45px}
.mip-nav-wrapper{height: 40px;padding: 5px 0;text-align:right;}
.navbar-nav li{position: relative;height: 50px;line-height:50px;font-size:16px;color: #ECEFF1;}
.navbar-nav li a{color: #ECEFF1!important;}
.navbar-nav li a.cur,.navbar-nav li a:hover{color:#ec632c;-moz-transition:color .4s ease-in;-webkit-transition:color .4s ease-in;-ms-transition:color .4s ease-in;transition:color .4s ease-in}
.mip-nav-wrapper #bs-navbar .navbar-nav{margin-top:auto}
#menu-news{color:#ec632c}
.mip-wrap{margin:0 auto;max-width:1200px;padding: 20px 0px;clear: both;overflow: hidden;}
.mip-class{width:1200px;height:30px;line-height:30px;text-align:right}
.sub-mip-main{position:relative;min-height:500px;margin-right: 335px;padding: 0 20px;background-color: #fff;}
.mip-content{width:100%;/* height:135px; */padding: 20px 0;border-bottom:1px solid #ebebeb;position:relative;overflow:hidden;}
.mip-cont-img{float:left;margin-right:2.8169014084507%;margin-left:0;width:180px;height:109px;z-index:11}
.mip-cont-img img{width:180px;height:109px}
.mip-cont-title{line-height:32px;font-size: 20px;font-weight:700;}
.mip-time{height:28px;line-height:28px;color:#999}
.mip-cont-text{font-size:14px;height:44px;line-height:22px;overflow:hidden}
.mip-cont-img,.mip-cont-text,.mip-cont-title,.mip-time{display:block}


.slider{margin:0 auto;margin-bottom: -25px;padding-top: 20px;max-width:1200px;overflow:hidden;}
.slider .slideBox{width:100%;height:100%;margin-bottom:20px;border:1px solid #eee;position:relative}
.pagination{margin:0;padding: 25px 0 25px 0;text-align:center;font-size:12px;display:block;}
.pagination ul{display:inline-block;margin-left:0;margin-bottom:0;padding:0}
.pagination ul>li{display:inline-block}
.pagination ul>li>mip-link,.pagination ul>li>span{margin:3px 5px 3px 0;float:left;padding:7px
14px;background-color:#FFF;border:1px solid #ddd;font-size:12px;color:#666;border-radius:2px;cursor: pointer;}
.pagination ul>li>mip-link:focus,.pagination ul>li>a:hover{opacity:1}
.pagination ul>.active>mip-link,.pagination ul>.active>span{color:#ababab;background-color:#f1f1f1}
.pagination ul>.active>mip-link,.pagination ul>.active>span{cursor:default}
.pagination ul>.disabled>mip-link,.pagination ul>.disabled>a:focus,.pagination ul>.disabled>mip-link:hover,.pagination ul>.disabled>span,.pagination ul>li>span{color:#999;background-color:transparent;cursor:default}
.mip-about-info{float:left;margin-left:-320px;width:320px;position:relative}
.widget{border:1px solid #e8e9e7;background-color:#fff;overflow:hidden;padding:15px;margin-bottom:20px}
.widget ul{margin:0;list-style:none}
.widget-tie h3{padding:0 0 10px 0;margin-bottom:15px;border-bottom:1px solid #e8e9e7;font-size:18px}
.divPrevious li{counter-increment:nums;display:block;height:30px;padding:0 0 0 30px;position:relative;margin:3px 0;font-size:14px;overflow:hidden}
.divPrevious li:first-child:before{background-color:#e24d46}
.divPrevious li:first-child:before,.divPrevious li:nth-child(2):before,.divPrevious li:nth-child(3):before{color:#fff;text-shadow:none;line-height:20px}
.divPrevious li:before{width:22px;height:22px;line-height:22px;text-align:center;content:counter(nums,decimal);position:absolute;left:0;top:5px;border-radius:100%;background-color:#edefee;text-shadow:0 1px 0 rgba(255,255,255,.5);}
.divPrevious li a{display:block;height:24px;line-height:24px;padding:3px 0}
.f-toe{overflow:hidden;word-wrap:normal!important;white-space:nowrap;text-overflow:ellipsis}
.divPrevious li:nth-child(2):before{background-color:#2ea7e0}
.divPrevious li:nth-child(3):before{background-color:#6bc30d}
.widget-thumb{margin:10px 0;min-height:55px;height:auto}
.widget-thumb .post-thumbnail{float:left;margin:0 10px 0 0}
.widget-thumb .post-thumbnail img{padding:4px;width:55px;height:55px;border:1px solid #eee;-webkit-border-radius:27px;-moz-border-radius:27px;border-radius:27px;background:#fff;-webkit-box-shadow:inset 0 -1px 0 #3333sf;box-shadow:inset 0 -1px 0 #3333sf;-webkit-transition:.4s;-webkit-transition:-webkit-transform .4s ease-out;-moz-transition:-moz-transform .4s ease-out;transition:transform .4s ease-out}
.widget-thumb .post-thumbnail:hover img{border:1px solid #ccc;-webkit-box-shadow:0 0 10px #fff;box-shadow:0 0 10px #fff;-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);transform:rotateZ(360deg)}
.widget-thumb a{line-height:24px}
.widget-thumb span.date{margin:5px 0 0 10px;color:#AAA;font-size:85%}
.divComments ul{width:100%}
.divComments ul li{padding:0;min-height:55px;width:100%;background:0 0}
.divComments ul a{display:block;overflow:hidden;margin:8px 0 5px 5px;padding-top:3px;color:#999}
.divComments li img{float:left;margin:0 10px 5px 0;padding:4px;width:55px;border:1px solid #eee;-webkit-border-radius:27px;-moz-border-radius:27px;border-radius:27px;background:#fff;-webkit-box-shadow:inset 0 -1px 0 #3333sf;box-shadow:inset 0 -1px 0 #3333sf;-webkit-transition:.4s;-webkit-transition:-webkit-transform .4s ease-out;-moz-transition:-moz-transform .4s ease-out;transition:transform .4s ease-out}
.divComments li:hover img{border:1px solid #ccc;-webkit-box-shadow:0 0 10px #fff;box-shadow:0 0 10px #fff;-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);transform:rotateZ(360deg)}
.divComments ul span{color:#666}
.divComments ul a:hover{color:#FF6B57}
.divContorPanel ul{text-align:center}
.cp-hello{line-height:35px;font-size:14px;color:#666}
.cp-login{line-height:35px;font-size:14px;color:#666}
.cp-vrs{line-height:35px;font-size:14px}
.divArchives li,.divAuthors li,.divCatalog li,.divFavorites li,.divLinkage li,.divNavBar li,.divStatistics li{padding-bottom:5px;margin-bottom:5px}
.divArchives li a,.divAuthors li a,.divCatalog li a,.divFavorites li a,.divLinkage li a,.divMisc li a,.divNavBar li a,.divStatistics li{color:#555;font-size:14px;margin-right:24px;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s}
.divArchives li:hover a,.divAuthors li:hover a,.divCatalog li:hover a,.divFavorites li:hover a,.divLinkage li:hover a,.divNavBar li:hover a,.divStatistics li:hover{padding-left:20px;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s}
.divMisc li{float:left;width:43%;margin-right:10px;padding-top:18px;padding-bottom:18px}
.divTags li{float:left;padding:12px 0 15px}
.divTags li{opacity:.8;filter:alpha(opacity=80);font-size:12px;color:#fff;background-color:#428BCA;display:inline-block;margin:0 5px 5px 0;padding:2px 6px;line-height:20px;font-weight:400}
.divTags li:nth-child(9n){background-color:#4A4A4A}
.divTags li:nth-child(9n+1){background-color:#428BCA}
.divTags li:nth-child(9n+2){background-color:#5CB85C}
.divTags li:nth-child(9n+3){background-color:#D9534F}
.divTags li:nth-child(9n+4){background-color:#567E95}
.divTags li:nth-child(9n+5){background-color:#B433FF}
.divTags li:nth-child(9n+6){background-color:#00ABA9}
.divTags li:nth-child(9n+7){background-color:#B37333}
.divTags li:nth-child(9n+8){background-color:#F60}
.divTags li:hover{opacity:.8;filter:alpha(opacity=80);color:#fff!important}
.divTags li a{color:#FFF}
.divCalendar table{width:100%;margin-top:10px;font-size:13px;table-layout:fixed}
.divCalendar caption{text-align:center;height:35px;font-weight:700;font-size:13px;line-height:35px;background-color:#fbfbfb;border:1px solid #e0e1e2}
.divCalendar caption a{color:#555}
.divCalendar th{background-color:#fbfbfb;color:#555;text-transform:uppercase;border:1px solid #e0e1e2;height:26px}
.divCalendar td{text-align:center;color:#666;border:1px solid #e0e1e2;line-height:30px}
.divCalendar td a{display:block;line-height:30px;background:#DC6460;color:#fff}
.divSearchPanel input[type=text]{padding: 0px;margin: 0px;float: left;width:70%;height:32px;margin-left:5px;padding-left:10px;outline:0;vertical-align:bottom;background:#fff;border:1px solid #E8E9E7}
.divSearchPanel input[type=submit]{width: auto;padding: 0px;margin: 0px;float:left;font-size:16px;font-weight:700;color:#fff;line-height:28px;border:2px solid #FF6B57;background:#FF6B57;outline:0;padding:1px 12px;border-radius:0;cursor:pointer}
.mip-container{width:100%;float:left}
.mip-detail-main{position:relative;min-height:500px;margin-right: 340px;padding: 20px;background-color: #fff;}
.mip-detail-title h1{font-size:26px;color:#333;font-weight:700}
.mip-detail-title i{height:30px;line-height:30px;padding:10px 0 20px 0;display:block;color:#999;font-size:14px}
.mip-detail-title .mip-author{color:#999}
.mip-detail-content p{line-height:32px;padding-bottom:10px;font-size:16px;color:#333;word-break: break-all;}
.mip-detail-content blockquote{margin:0 0 18px 0;border:1px #d0d4c8 dashed;background:#f4f5f6 url(data:image/gif;base64,R0lGODlhHwAbAMQAAP//////AP8A//8AAAD//wD/AAAA/wAAAPT19/Hx8e7u7uvr6+fn5+Tk5ODg4N3d3dra2tbW1tPT08/Pz8zMzP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABUALAAAAAAfABsAAAWOICKOZGmeaKqubNsqjao4iatI1ILelOM+lB7KEXy4IsEICkmZuCDB3AkY1LEYUcoJG3VNsqdvUNJaZCkxEjfoZBHPbREzalVBzxSlCE8h2/lae3xxJ3d4NQiAFAwpa2eIihAqYll+CHNnkilmZwojjllpKg4SEkYlOHguKphSq5sNEIyvtLW2t7i5urstIQA7) 5px 3px no-repeat;padding:8px 12px 8px 36px}
.mip-detail-content blockquote p{font-size:18px}
.mip-detail-content blockquote a{font-size:16px;color:#333}
.mip-detail-content blockquote a:hover{color:#df0031}
.mip-detail-content mip-img{max-width: 100%!important;width:inherit!important;height: auto!important;    margin: 0 auto;}
.mip-detail-content mip-img img{display: inherit!important;min-width: inherit!important;max-width: inherit!important;width:inherit!important;height: inherit!important;margin: inherit!important;}
.mip-detail-content .post-tag{font-size:16px!important;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;transition:opacity .3s}
.mip-detail-content .post-tag a{margin-right:.5em;padding:2px 4px;border-radius:2px;background:#ccc;color:#fff;font-size:14px;-webkit-transition:background .3s;-moz-transition:background .3s;transition:background .3s}
.mip-detail-content .post-tag a:before{content:"#"}
.mip-detail-content .post-tag a:hover{background:#aaa}
.footer{/* margin-top: 20px; */position:relative;z-index:9;clear:both;padding:30px;font-size:14px;line-height:12px;text-align:center;color: #ECEFF1!important;background-color:#fff;border-top:1px solid #ddd;background: #303641;}
.footer a{color: #ECEFF1!important;}
.link{max-width:1200px;margin:0 auto;padding:0 20px 0 20px;margin-bottom:20px;text-align:left;line-height: 20px}
.link span{float:left}
.link ul li{display:inline;padding:0 5px}
.mip-nav-wrapper .navbar-brand {margin: 0;width: 0px;height: 00px;}
.post-navigation{ background-color: #fff;border: 1px solid #eee;padding: 20px;margin: 0 0 20px;clear: both;overflow: hidden;}
.post-navigation div{position:relative;display:block;width:42%;color:#999;font-size:14px;}
.post-previous{float:left;padding-left:40px;}
.post-next{float:right;padding-right:40px;text-align:right;}
.post-navigation div span{display:block;color:#999;font-size:80%;}
.post-navigation div a:after{position:absolute;top:34%;margin-top:-11px;height:22px;color:#EDEDED;font-size:56px;line-height:22px;line-}
.post-previous a:after{left:0;content:'«';}
.post-next a:after{right:0;content:'»';}
.c-share-list .c-share-btn .c-img {
    width: 60px;
    height: 60px;
    padding-bottom: 0;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
}
.c-share-list .c-line-clamp1 {
    width: 60px;
    line-height: 30px;
}
.c-share-list .c-span3 {
    width: 80px;
    -webkit-box-flex: 3;
    -webkit-flex: inherit;
}
.c-share-list .c-row {
    width: auto;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-box-align: stretch;
    -webkit-box-lines: single;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: stretch;
    -webkit-align-content: flex-start;
    -webkit-flex-wrap: nowrap;
}
/*commentlist*/
.mkcomments{margin-bottom: 20px;height:auto;}
.mkcomments .title {margin-bottom: 10px;overflow: hidden;}
.mkcomments .title h3 {font-size: 16px;margin: 10px 0;float: left;font-weight: bold;}
.commentlist .msg{padding-top:10px}
ul.msg{width:100%;margin-bottom:5px}
ul.msg li{width:100%;overflow:hidden;clear:both;margin:0;padding:0;list-style:none}
.msgarticle{padding:10px 2px}
.avatar{float:left;box-shadow:0 1px 1px rgba(255,255,255,.75);position:relative;-webkit-border-radius:3px;border-radius:3px;background-color:#fff;margin-right:15px}
.avatar img{width:50px;height:50px;border-radius:27px;-webkit-border-radius:27px;-moz-border-radius:27px;box-shadow:inset 0 -1px 0 #3333sf;-webkit-box-shadow:inset 0 -1px 0 #3333sf;-webkit-transition:.4s;-webkit-transition:-webkit-transform .4s ease-out;transition:transform .4s ease-out;-moz-transition:-moz-transform .4s ease-out}
.avatar img:hover{box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 10px #fff;transform:rotateZ(360deg);-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg)}
.comment-body{position:relative;margin-left:62px;border:1px solid #ddd;padding:0 10px 10px!important;border-radius:2px}
.comment-body:before{border-right-color:#dedede!important;z-index:1}
.comment-body:after{border-right-color:#f8f8f8!important;margin-left:1px;z-index:2}
.comment-body:after,.comment-body:before{position:absolute;top:8px;left:-8px;right:100%;width:0;height:0;display:block;content:" ";border-color:transparent;border-style:solid solid dotted;border-width:8px 8px 8px 0;pointer-events:none}
.comment-header{background-color:#f8f8f8;padding:10px;margin-left:-10px;margin-right:-10px;border-bottom:1px solid #eee;font-weight:500;margin-bottom:10px;font-size:14px}
.comment-header a{color:#999;font-size:13px;margin-right:8px}
.comment-body p{font-size:13px;color:#000;line-height:2em;margin:.5em 0;word-wrap:break-word}
.comment-footer{margin-top:15px;font-size:13px;line-height:1.5em}
.comment-time{font-size:12px;margin-right:8px;color:#999}
.post-reply{font-size:12px;color:#999}
ul.children,.msgname .msgname{margin-left:38px}
ul.children .avatar,ul.children .avatar img,.msgname .msgname .avatar,.msgname .msgname .avatar img{width:30px;height:30px;margin-left: 8px;}
#divCommentPost p.posttop{position:relative;z-index:5;font-size:12px;padding:8px 0;width:100%;clear:both;overflow:hidden}
#divCommentPost p a{float:right;line-height:1.5em;margin-right:6px;cursor:pointer;text-decoration:none;color:#777}
#divCommentPost p.posttop small{float:right;position:relative;font-size:12px;cursor:pointer;text-align:right;line-height:18px;padding-bottom:3px;width:75px}
.pinglun{width:auto;font-size:12px;z-index:3;margin:8px 0;padding:0 0 0 60px;position:relative;clear:both;padding:0;margin:0;vertical-align:baseline;font:inherit;line-height:inherit;background:0 0;width:auto;float:none;transition:none;overflow: hidden;}
.textarea-wrapper{border: 1px solid #ddd;
    background: none;
    border-radius: 3px;height:auto;}
.rounded-top{-webkit-border-top-right-radius:3px;-webkit-border-top-left-radius:3px;border-top-right-radius:3px;border-top-left-radius:3px}
#txaArticle{position:relative;z-index:1;border:0;border-bottom:none;padding-right:24px;overflow:hidden;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;box-shadow:none;-webkit-appearance:none;overflow:auto;padding:10px;height:140px;min-height:140px;margin:0;resize:none;outline:0;/*color:#B3B3B3;*/width:100%;min-width:100%;}
.post-toolbar{margin-top: 10px;overflow: hidden;float: right;}
.post-toolbar .loading {
    background: none;
	min-height: 0;
}
input.button{float:right;height:32px;width:100px;text-align:center;text-shadow:none;font-weight:700;border:none;color:#FFF;background-color:#FF6B57;    border-radius: 2px;background-image:none;box-shadow:none;cursor:pointer}
input.button:hover{background:#8463A9;}
.post-terinfo{padding:20px 0 0;color:#777}
.post-terinfo ul li{margin-bottom:5px;text-align:center}
input.text{margin-right:10px;position:relative;border:none;    border: 1px solid #ddd;border-radius:2px;height:35px;padding:3px 5px;outline:0;color:#B3B3B3;width:220px;box-shadow:none}
.post-terinfo ul li label{color:#B3B3B3}
/*CommentPost-navigation*/
.navigation{text-align:right;padding:10px;clear:both;line-height:1em}
.navigation nav a,.navigation nav>span{cursor:pointer;text-decoration:none;color:#777;font-size:12px;margin:0 3px;padding:2px 5px;border:1px solid transparent;-webkit-border-radius:3px;border-radius:3px;background-color:rgba(0,0,0,.03)}
.navigation nav>span{font-weight:700;color:#00B5EE}
.navigation ul{display:inline-block;margin-left:0;margin-bottom:0}
#infscr-loading,#infscr-loading div{position:absolute;bottom:10px;width:100%;text-align:center;font-size:1.5em;font-weight:700;color:#3498db}
@media screen and (max-width:1200px){.mip-header-main{width:100%}
.logo{padding-left:0px}
.mip-content{width:100%}
.mip-nav-wrapper .navbar-header{margin:0 20px}
.mip-nav-wrapper #bs-navbar .navbar-nav {margin-right: 0px;}
}
@media screen and (max-width:960px){.mip-about-info{display:none}
.mip-detail-main,.sub-mip-main{margin-right:inherit}
.mip-wrap{padding:20px 20px}
.mip-layout-fixed{width:100%!important;height:auto!important;position:initial}
}
@media screen and (max-width:767px){mip-nav-slidedown #bs-navbar li>ul li{float: left;width: 100%;}.mip-nav-wrapper #bs-navbar {
    height: 0;
    transition: height .3s;
    width: 100%;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    z-index: 1000;
    border: 0;
    float: none;
    position: absolute;
    background-color: #303641;
}}
@media screen and (max-width:760px){.mip-header{height:60px}
.logo{height:40px;width:160px;height:40px;margin-top:8px}
.logo img{height:40px}
.mip-nav-wrapper .navbar-toggle{margin: 11px 0;}
.mip-nav-wrapper .navbar-wise-close {margin-top: 25px!important;}
.mip-content{padding:10px 0;height:auto}
.mip-cont-img,.mip-cont-img img{width:110px;height:67px;top:12px}
.mip-cont-title{line-height:20px;font-size:14px;font-weight:700;max-height:40px;overflow:hidden}
.mip-time{height:22px;line-height:22px;font-size:12px}
.mip-cont-text{color:#888;font-size:12px;line-height:18px;max-height:36px}
.post-navigation div {width: 100%;}
}
@media screen and (max-width:480px){.pagination{padding: 15px 0 15px 0;}.footer {padding: 15px 15px;}.footer p{line-height: 20px;}.link {margin-bottom: 10px;}
.c-share-list .c-share-btn .c-img {width: 35px;height: 35px;}
.c-share-list .c-span3 {width: 45px;} 
.c-line-clamp1{width: 35px;display: none;}
.c-share-list {padding: 15px 0;}}
mip-nav-slidedown #bs-navbar li>ul {box-shadow: 0 5px 20px rgba(0,0,0,.1);    background: #303641;}
mip-nav-slidedown #bs-navbar li>ul li{float: left;}
mip-nav-slidedown #bs-navbar .navbar-nav a:hover{background-color: #0090ce;}
.active>a{background-color: #0090ce;font-weight: normal !important;}
#plpost img{ width:auto!important; height:auto}
.mip-detail-content pre{display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 11px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;}


.mip-detail-content{line-height: 32px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #333;
    word-break: break-all;}




